fastapi==0.110.0
uvicorn[standard]==0.29.0
tensorflow==2.15.0
scikit-learn~=1.6.1
pandas==2.2.1
numpy==1.26.4
ta==0.10.2
apscheduler==3.10.4
python-binance==1.0.17
jinja2>=3.0.0
pydantic~=2.10.6
deap~=1.4.2
SQLAlchemy~=2.0.39
ccxt~=4.4.71
alembic~=1.15.2
requests~=2.32.3
feedparser~=6.0.11
nltk~=3.9.1
openai~=1.75.0
torch~=2.6.0
starlette~=0.36.3
utils~=1.0.2
tensorflow-probability==0.23.0
scipy~=1.15.2
psycopg2-binary
